*{box-sizing: border-box;}

.content{
   position:relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
 
   
    
}
div.myworkthumbnail {
  position: relative; 
  flex-wrap: wrap;
  display: flex;
   max-width: 50%;
   padding:1vh;
  
   
}
div.myworkthumbnail img{
    position: relative;
    max-width: 100%;
 

}
@media screen and (max-width: 1000px){
   .content{
       position: relative;
       display:flex;
       flex-wrap: wrap;
       
   }
   div.myworkthumbnail {
    position: relative; 
    flex-wrap: wrap;
     display: flex;
     max-width: 100%;
    
  }
  @media screen and (max-width: 600px){
    .content{
padding: 0.5vh;}
}
  @media screen and (max-width: 414px){
      .content{
padding: 0.2vh;}
  }

}
/*add media queries  for landscape screen, pointers etc*/