 .myworkthumbnail {
    cursor: pointer;
      margin:1vh;
      perspective: 1px;
      border-radius: 5px;  
      box-shadow: 5px 5px 5px grey;
      font-size:2vw;
      }
   div.myworkthumbnail img{
     position: relative;
     max-width: 100%;
     border-radius: 5px;
 }
 
 div.toplayer{
  background-color:  rgba(38, 38, 38, 0.9);

   position: absolute;
   top:0;
   left:0;
   height: 100%;
   width:100%;
   z-index: 1000;
   border-radius: 5px; 
 }
 div.toplayer:hover{
  background-color: rgba(38, 38, 38, 0.5); 
}

 div.toplayer .thumbtext{
  font-size:2vw;
  color:whitesmoke;
  position: relative;
  top:20%;
  left:10%;
  max-width: 70%;
}
 
 div.toplayer:hover .thumbtext{ 
      
      left:5%;
      color: black;
     
 }

