
*{box-sizing: border-box;

  
}
.content{
    position:relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    

   
   
    
}
.myworkthumbnail {
  position: relative; 
  flex-wrap: wrap;
  display: flex;
  max-width: 49%;
  margin-bottom: 2vh;
  margin-top: 1vh;
 
  border-radius: 30px;


   
}
div.myworkthumbnail img{
    position: relative;
    max-width: 100%;
    

}
div.toplayer{
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width:100%;
  z-index: 1000;

  background-color: rgba(38, 38, 38, 0);
}
div.toplayer:hover{
  background-color: rgba(38, 38, 38, 0.7); 
 
}
.thumbtext{
  position: absolute;
  top:70%;
  left:60%;
  color:rgba(38, 38, 38, 0.4);
}
div.toplayer:hover  .thumbtext{
  
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size:5vw;
   color:green;
   position: absolute;
  top:50%;
  left:50%;
}
 

 


@media screen and (max-width: 662px){
   .content{
       position: relative;
       display:flex;
       flex-wrap: wrap;
       padding: 0.5vh;
   }
   div.myworkthumbnail {
    position: relative; 
    flex-wrap: wrap;
     display: flex;
     max-width: 100%;
    
  }
  
  @media screen and (max-width: 414px){
      .content{
padding: 0.2vh;}
  }

}
/*add media queries  for landscape screen, pointers etc*/
