.navbar {
        background-color: rgba(51,51,51,0.95);
        }
  .navbar .navbar-nav .nav-link:not(.disabled)
   {
    color:white;
    font-family: 'coolvetica';
   }
  .navbar .navbar-nav .nav-link:not(.disabled):hover
   {
     color:rgba(51, 51, 51, 0,5);
   }
  
  